# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Environment Variables
.env
.env.local
.env.*.local

# Vercel
.vercel/

# OS and Editors
.DS_Store
Thumbs.db
.vscode/
.idea/
